@page
@model DeliverPlan.Pages.Tanks.IndexModel

@{
    ViewData["Title"] = "Tanks";
}

<h1>Tanks</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tanks[0].CustomerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tanks[0].Tag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tanks[0].Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tanks[0].Capacity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Tanks) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Tag">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Tag">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Tag">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
